<h2>施設編集</h2>

<%= form_with(model: @facility, local: true) do |f| %>
  <% if @facility.errors.any? %>
    <div class="error-messages">
      <h4>以下のエラーを修正してください：</h4>
      <ul>
        <% @facility.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "施設名" %>
    <%= f.text_field :name, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "説明" %>
    <%= f.text_area :description, class: "form-input" %>
  </div>

  <%= f.submit "更新する", class: "btn-submit" %>
<% end %>

<%= link_to "施設一覧に戻る", facilities_path, class: "btn-back" %>
