<h2>施設詳細</h2>

<div class="facility-detail">
  <p><strong>施設名:</strong> <%= @facility.name %></p>
  <p><strong>住所:</strong> <%= @facility.address %></p>
  <p><strong>説明:</strong> <%= @facility.description %></p>

  <div class="facility-actions">
    <%= link_to "編集", edit_facility_path(@facility), class: "btn-submit" %>

    <%= form_with(model: @facility, method: :delete, local: true) do |f| %>
      <%= f.submit "削除" %>
    <% end %>

    <%= link_to "一覧に戻る", facilities_path %>
  </div>
</div>
