<h1>予約確認</h1>

<div class="reservation-container">
  <div class="room-info">
    <h3>部屋情報</h3>
    <p><strong>施設名:</strong> <%= link_to @room.name, room_path(@room) %></p>
    <p><strong>料金(1泊/1人):</strong> <%= number_to_currency(@room.price, unit: "¥", precision: 0) %></p>
    <% if @room.image.attached? %>
      <%= image_tag @room.image.variant(resize_to_fill: [200,200]) %>
    <% else %>
      <%= image_tag "room.png", size: "200x200" %>
    <% end %>
  </div>

  <p><strong>チェックイン:</strong> <%= @reservation.start_date.strftime("%Y/%m/%d") %></p>
  <p><strong>チェックアウト:</strong> <%= @reservation.end_date.strftime("%Y/%m/%d") %></p>
  <p><strong>宿泊日数:</strong> <%= (@reservation.end_date.to_date - @reservation.start_date.to_date).to_i %> 泊</p>
  <p><strong>人数:</strong> <%= @reservation.number_of_people %> 人</p>
  <p><strong>支払い金額:</strong> <%= number_to_currency(@reservation.total_price, unit: "¥", precision: 0) %></p>

  <div style="margin-top:12px;">
    <%= link_to "施設詳細へ", room_path(@room), class: "link-button" %> |
    <%= link_to "予約を編集", edit_room_reservation_path(@room, @reservation), class: "link-button" %> |
    <%= link_to "予約を取り消す", room_reservation_path(@room, @reservation), method: :delete, data: { confirm: "本当にキャンセルしますか？" }, class: "link-button" %>
  </div>
</div>
